* {
	box-sizing: border-box;
	margin: 0;
}

header {
	border-bottom: 2px solid black;
	padding: 20px;
	margin-bottom: 30px;
}

header h1 {
	display: inline-block;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav {
	display: inline-block;
	float: right;
	padding: 15px;
}

section {
	margin-left: 20px;
}

button {
	font-size: 20px;
}

section.start-screen {
	/*display: none;*/
}

section.question-screen {
	display: none;
}

section.question-screen h3 {
	text-align: center;
}

section.question-screen ul {
	list-style: none;
	margin-bottom: 15px;
}

section.results-screen {
	display: none;
}

section.results-screen h2, p{
	margin-bottom: 15px;
}

section.totals-screen {
	display: none;
	text-align: center;
}

section.totals-screen h2 {
	margin-bottom: 15px;
}